<title>{{titulo}} | Bilogia de A a Z</title>
<br>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" ng-src="{{trustSrc(link)}}"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
<br>
<div class="card">
    <div class="card-header">Descrição</div>
    <div class="card-body">
        <h5 class="card-title">{{descricao}}</h5>
        <p class="card-text"><small class="text-muted">{{tags}}</small></p>
    </div>
</div>
<br>