<title>Atualizar vídeo</title>
<form ng-submit="atualizarVideo()">
    <div class="form-group">
        <label>Título</label>
        <input type="text" ng-model="titulo" class="form-control" placeholder="Título aqui" required>
    </div>
    <div class="form-group">
        <label>Link</label>
        <input type="text" ng-model="link" class="form-control" placeholder="Link aqui" required>
        <small class="form-text text-muted">Ex. youtube.com/</small>
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <input type="text" ng-model="desc" class="form-control" placeholder="Descrição do vídeo">
    </div>
    <div class="form-group">
        <label>Tags</label>
        <input type="text" ng-model="tags" class="form-control" placeholder="Tags aqui" required>
        <small class="form-text text-muted">Ex: divisao celular, mitose</small>
    </div>
    <button type="submit" class="btn btn-default">Atualizar</button>
</form>