<form style="width: 60%; margin: auto;" ng-submit="cadUsuario()">
    <center><p class="oi oi-person"></p></center>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="user" placeholder="Usuário">
        <small class="form-text text-muted">Use o usuário para entrar no site</small>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" ng-model="pwd" placeholder="Senha">
        <small class="form-text text-muted">Lembre-se da sua senha</small>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>